*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
body{
    background-image: url("img/bg.jpg");
    background-size:cover;
    background-repeat: no-repeat;
}
#head{
    color: bisque;
    text-transform: uppercase;
    font-size: 40px;
    font-family: sans-serif;
    text-align: center;
    margin-top: 30px;
    text-decoration: underline 5px yellow;
}
h3{
    color: whitesmoke;
    font-size: 40px;
    font-family: sans-serif;
    text-align: center;
    margin-top: 100px;
    letter-spacing: 2px;
}
#clock{
    font-size: 36px;
    display: block;
}
#image{
    height: 500px;
    width: 800px;
    border-radius: 50px;
    margin-left: 300px;
}
#button,#button1{
    font-size: 30px;
    background-color: blanchedalmond;
    color: darkblue;
    border-radius: 20px;
    text-transform: uppercase;
    font-weight: bold;
    height: 40px;
    width: 500px;
    margin-left: 100px;
}
#button:hover,#button1:hover{
    transform:scale(1.2);
    color: red;
    background-color: yellow;
}
#alarmhour,#alarmmin,#meridian{
    width: 80px;
    height: 40px;
    font-size: 30px;
    font-family: sans-serif;
    font-weight: bold;
}
#meridian{
    width: 70px;
    height: 40px;
    font-size: 30px;
    font-family: sans-serif;
    font-weight: bold;
}
.button{
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    height: 40px;
    width: 200px;
    border-radius: 20px;
    color: darkblue;
    background-color:lemonchiffon;
    margin-right: 30px;
}
.button:hover{
    transform:scale(1.2);
    color: darkred;
    background-color: rgb(180, 175, 175);
}
#write{
    color: white;
    margin-bottom: 50px;
}
@media(max-width:720px){
    body{
        background-image: url("img/bg.jpg");
        background-size:cover;
        background-repeat: no-repeat;
    }
    #image{
        height: 200px;
        width: 340px;
        border-radius: 50px;
        margin:0 20px;
    }
    h3{
        font-size: 30px;
        text-align: center;
        letter-spacing: 2px;
    }
    #button,#button1{
        margin-left: 20px;
        font-size: 20px;
        border-radius: 20px;
        text-transform: uppercase;
        font-weight: bold;
        height: 40px;
        width: 300px;
    }
    #button1{
        margin-top: 20px;
    }
    .just{
        margin-top: 10px;
        font-size: 25px;
        margin-left: 5px;
    }
    .button{
        margin-top: 20px;
    }
    #write{
        color: white; 
        margin-top: 30px;
        font-size: 25px;
        margin-left: 5px;
        margin-right: 5px;
    }
}
